<div class="container">

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 class="text-secondary"> Cursos</h1>
                </div>


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sigla</th>
                            <th scope="col">Nome do Curso</th>
                            <th class="options" scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cursos}}
                        <tr class="table-info">
                            <th scope="row">{{sigla}}</th>
                            <td>{{nome}}</td>
                            <td class="options">
                                <a href="/curso/{{id}}"> <i class="far fa-eye"></i></a>
                                <a href="/curso/update/{{id}}"> <i class="fas fa-pen"></i></a>
                                <a href="/curso/remove/{{id}}"> <i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <a href="/curso/create"><button type="button" class="btn btn-secondary">Cadastrar Novo
                        Curso</button></a>

                </button>
                <!-- /example -->
            </div>
        </div>
    </div>
    <br><br><br>
</div>