<div class="container">

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="index-cursos">
                    <h1 class="text-secondary"> Listagem de Cursos</h1>
                    <div>
                        <a href="/curso/create" type="button" class="btn btn-secondary"><i
                                class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Sigla</th>
                            <th scope="col">Nome do Curso</th>
                            <th class="options" scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cursos}}
                        <tr class="table-info">
                            <th>{{id}}</th>
                            <th scope="row">{{sigla}}</th>
                            <td>{{nome}}</td>
                            <td class="options">
                                <a href="/curso/{{id}}"> <i class="far fa-eye"></i></a>
                                <a href="/curso/{{id}}"> <i class="fas fa-pen"></i></a>
                                <a href="/curso/{{id}}" data-bs-toggle="modal" data-bs-target="#modal-curso-{{id}}"> <i
                                        class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
</div>

{{#each cursos}}
<div class="modal" id="modal-curso-{{id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remoção de curso</h5>
                <button type="button" class="btn-close" data-cursoId="{{id}}" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja remover o curso {{nome}}?
                Essa operação não poderá ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <button id="botao-delecao-{{id}}" type="button" class="btn btn-secondary"> Sim, quero
                    apagar</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#each cursos}}
<script>
    const botaoDelecao{{ id }} = document.getElementById('botao-delecao-{{id}}');
    botaoDelecao{{id}}.onclick = function () {
        apagarCurso({{id}});
    }
</script>
{{/each}}